.hello-world {
	background: rgba(234, 234, 234, 1);
	padding: 4rem 7rem 7rem;
	border-radius: 0.8rem;
	margin: 4rem;
}

button {
	background: rgba(37, 99, 171, 1);
	color: white;
	border-radius: 0.8rem;
}

.section-2 {
	background: rgba(217, 216, 217, 1);
	padding: 4rem;
	margin: 3rem 0;
}

h1 {
	font-size: 6rem;
}

.city-pic {
	 float: left;
	 margin-right: 5rem;
	 width: 210px;
	 height: auto;
 }

img {
	width: 210px;
	height: auto;
}

.bottom {
	margin-top: 5rem;
}

.bottom p {
	border: 1px solid gray;
	padding: 2rem;
	background: lightgray;
	border-radius: 4%;
	margin-right: 4rem;
}

